.edit-profile,
.users-list {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100px;
  z-index: 9999;
  background-color: #f5f5f5;
  transition: left 0.3s ease-in-out;
  overflow: hidden;
  animation: slidein;
  top: 0;
  left: 0;
}

.edit-profile.show,
.users-list.show {
  left: 0;
}

.edit-profile .profile-header,
.users-list .users-header {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background-color: #075e54;
  color: #fff;
  font-size: 1.3rem;
  border-bottom: 1px solid #d0d0d0;
}

.edit-profile .profile-header button,
.users-list .users-header button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.edit-profile .profile-body {
  padding-top: 1rem;
  background-color: #f0f2f5;
  height: calc(100% - 4rem);
  padding: 2rem 1rem;
  background-color: #ededed;
  font-size: 0.8rem;
}
@media only screen and (max-width: 600px) {
  .edit-profile .profile-body {
    font-size: 1.3rem;
  }
}

.edit-profile .avatar-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.edit-profile .avatar-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.edit-profile .avatar-container label {
  background-color: #25d36583;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 5em;
  padding: 0;
  position: relative;
}

.edit-profile .hover-img-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  border-radius: 50%;
  opacity: 0;
}

.edit-profile .hover-img-text:hover {
  opacity: 0.8;
}

.edit-profile .image-tag {
  position: absolute;
  font-size: 1rem;
  text-align: center;
}

.edit-profile .avatar-container input[type="file"] {
  display: none;
}

.edit-profile .form-group {
  margin-bottom: 1rem;
}

.edit-profile .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #075e54;
}

.edit-profile .form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  padding: inherit;
  color: #4a4a4a;
}

.edit-profile .form-group textarea {
  display: inline-block;
  width: auto;
  resize: none;
  height: 3rem;
  width: 8em;
  padding: none;
  flex-wrap: wrap;
}
.edit-profile .form-group svg {
  width: 20px;
}

.edit-profile .slide-in {
  animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.edit-profile .form-group-profile-details {
  background-color: white;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.edit-profile .yourname-title,
.about-title {
  color: #075e54;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: white;
  color: black;
  border: none;
  outline: 0;
}

.btn-secondary,
.btn-secondary.focus {
  background-color: white;
  color: black;
  border: none;
  outline: 0;
}

.btn-secondary {
  background-color: white;
  color: black;
  border: none;
  outline: 0;
  padding: 0;
  height: 24px;
  width: 24px;
}

.edit-profile .btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: white;
  color: black;
  border: none;
  outline: 0;
}

.dropdown-toggle::after {
  border: 0;
}

.edit-profile.show,
.users-list.show {
  max-height: 100%;
}

.users-list {
  overflow: auto;
  max-height: 100%;
}
