.message-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.message-input input {
    flex-grow: 1;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
    background-color: white;
    margin: 0 10px;
    font-size: 14px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

.icon:hover {
    opacity: 0.8;
}