h1.title {
    padding-top: 40px;
    color: rgb(65, 82, 93);
    font-weight: 300;
    font-size: 32px;
}

p.subtitle {
    padding-top: 10px;
    color: #667781;
    font-size: 14px;
    font-weight: 400;
}

div.lock-section {
    padding-top: 60px;
    color: #667781;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 767px) {
    h1.title {
        font-size: 24px;
    }

    p.subtitle {
        font-size: 12px;
    }

    div.lock-section {
        font-size: 12px;
    }
}